@import './common';
//  Переменные, миксины, плейсхолдеры
@import './utils/breakpoints';
//Loader (spinner) для асинхронних запитів
@import './spinner';
// Базовые стили
@import './base/container';
// Секции и блоки
@import './layouts/collection-item';