<div class="container">
  <ul class="collection">
    <li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">6.31</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">6.31</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor: Love and Thunder</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">6.31</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">6.31</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">6.31</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">10</p>
              </div>
    </div>
  </article>
</li>
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link" "="">
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w500/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg" onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'" loading="lazy" alt="Thor: Love and Thunder" title="Thor: Love and Thunder" data-id="616037">
    </a>
    <div class="card__wrap">
      <a href="">
        <h2 class="card__title" data-id="616037">Thor</h2>
      </a>
      <div class="card__data">
        <ul class="card__genres">
          <li class="card__genre"><a href="" class="card__text">Fantasy,</a></li>
          <li class="card__genre"><a href="" class="card__text">Action,</a></li>
          <li class="card__genre"><a href="" class="card__text">Comedy</a></li>
                  </ul>
        <p class="card__year card__text">| 2022</p>
        <p class="card__rating">9</p>
              </div>
    </div>
  </article>
</li>
  </ul>
</div>
