<div class = "backdrop-team is-hidden">
    <div class="modal-team">
        <button type = "button" class="modal-team__close-btn">
            <svg class="modal-film__close-icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close"></use>
              </svg>
        </button>
        <div class="team__container">
            <div class="team__list">
            <ul class="team__list">
                <li class="team__item">
                    <img 
                    src="./images/modal-film-poster.jpg"
                    alt=""
                    loading ="lazy"
                    class="team__img"
                    >
                    <h3 class="team_name">Alexandr Shabanov</h3>
                    <p class="team_role">Team Lead</p>
                </li>

                <li class="team__item">
                    <img 
                    src="./images/modal-film-poster.jpg"
                    alt=""
                    loading ="lazy"
                    class="team__img"
                    >
                    <h3 class="team_name">Vitaliy</h3>
                    <p class="team_role">Scrum-master</p>
                </li>

                <li class="team__item">
                    <img 
                    src="./images/modal-film-poster.jpg"
                    alt=""
                    loading ="lazy"
                    class="team__img"
                    >
                    <h3 class="team_name">Maxim Ostrovsky</h3>
                    <p class="team_role">Footer, Modal</p>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>