<div class="backdrop-team is-hidden">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal-film__close-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team__container">
      <h2 class="team__name">Team *Team Name*</h2>
      <p class="team__slogan">Know the LEGENDS by the face</p>

      <div class="team__list">
        <ul class="team__list">
          <li class="team__item">
            <img
              src="./images/Aleksandr_Shabanov@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Aleksandr Shabanov</h3>
            <p class="team__role">Team Lead</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitalii_Sidorenko@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Vitaliy Sidorenko</h3>
            <p class="team__role">Scrum-master</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Maxim_Dorogokuplya@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Maxim Dorogokuplya</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Vitaliy Lyakh</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Maxim_Ostrovsky.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Maxim Ostrovsky</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Aleksandr Demianenko</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Nadiia Kotyk</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Andriy Levchenko</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Vadym Liubushkin</h3>
            <p class="team__role">Footer, Modal</p>
          </li>

          <li class="team__item">
            <img
              src="./images/Vitaliy_Lyakh@2x.png"
              alt=""
              loading="lazy"
              class="team__img"
            />
            <h3 class="team__name">Dmitriy Soroka</h3>
            <p class="team__role">Footer, Modal</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
