<div class="backdrop-film is-hidden">
  <div class="modal-film">
    <button type="button" class="modal-film__close-btn">
      <svg class="modal-film__close-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film__container">
      <div class="film__poster">
        <img
          src="./images/modal-film-poster.jpg"
          alt=""
          loading="lazy"
          class="film__img"
        />
        <!-- <div class="film__overlay">
          <img
            src="./images/modal-film-poster-play-button.png"
            alt="icon play"
            class="film__play-img"
          />
        </div> -->
      </div>
      <div class="film__info">
        <h2 class="film__title">A FISTFUL OF LEAD</h2>
        <div class="film__description">
          <table>
            <tbody>
              <tr>
                <th class="film__attribute">Vote / Votes</th>
                <td class="film__att-value">
                  <span class="film__vote">7.3</span> /
                  <span class="film__votes">1260</span>
                </td>
              </tr>
              <tr>
                <th class="film__attribute">Popularity</th>
                <td class="film__att-value">100.2</td>
              </tr>
              <tr>
                <th class="film__attribute">Original Title</th>
                <td class="film__att-value">A FISTFUL OF LEAD</td>
              </tr>
              <tr>
                <th class="film__attribute">Genre</th>
                <td class="film__att-value">Western</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="film__about">
          <h3 class="film__about-title">About</h3>
          <p class="film__text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="film__btns">
          <!--class="film__btn--add film__btn--remove" -->
          <button type="button" class="film__btn film__btn--add" data-addToWatched>
            add to watched
          </button>
          <button type="button" class="film__btn film__btn--add" data-addToQueue>
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
