<div class="backdrop-film is-hidden">
  <div class="modal-film">
    <button type="button" class="modal-film__close-btn">
      <svg class="modal-film__close-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film__container">
        <div class="film__btns">
          <button type="button" class="film__btn film__btn--add" data-addToWatched>
            add to watched
          </button>
          <button type="button" class="film__btn film__btn--add" data-addToQueue>
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
