.footer {
  background-color: rgba(247, 247, 247, 1);
  margin-top: 60px;
  padding: 30px 0 28px 0;
}
.footer__message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  color: #545454;
}
.footer__team {
  text-decoration: underline;
  color: #545454;
}
