.footer {
  background-color: rgba(247, 247, 247, 1);
  margin-top: 60px;
  padding: 30px 0 28px 0;
}
.footer__message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  color: #545454;
}
.footer__team {
  border: 0px;
  background: opacity($color:rgba(0, 0, 0, 0.4));
  text-decoration: underline;
  color: #545454;
  padding: 0;
  cursor: pointer;
}
.footer__icon {

  animation: pulse 1s linear infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    3% {
      transform: scale(1.1);
    }
  }
