.backdrop-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: linear;
}
.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(100vw - 40px);
  height: calc(100vh - 40px);

  padding: 48px 20px 40px 20px;

  background-color: #fff;
  overflow: auto;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  @media screen and (min-width: $tablet) {
    width: 704px;
    height: auto;
    min-height: 552px;

    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: $desktop) {
    width: 1100px;
    min-height: 558px;

    padding: 40px 12px;
  }
  &__close-btn {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.team__name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.team__slogan, .team__role {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: gray;
}
.team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team__img {
    width: 200px;
    height: 214px;
    padding: 14px 5px 10px 5px;
    border-radius: 100%;
}